body{
        
}

.header{
        
    background-color: rgba(49, 177, 24, 0.822);
    width:100%;  
    height:12%;  
}

.logoif{
    width: 8%;
    height:8%;    

}
.titleHeader{
    position: absolute;
    margin-top: -7% ;
    margin-left: 44%;    
    text-align: center ;    
}



.content{
   
    position: absolute;
    margin-top: 0% ; 
    margin-left: 40%;  

}
.titulo{
  
    height: 30% ;
}
.tabela{
      
    text-align: center;
}